@model MVC_Authorize.Models.Entity.Tbl_Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışan Detayları</h2>

<div>
    <h4>Çalışan Detaylarını İnceliyorsunuz.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMarried)
        </dt>

        <dd>
            @if (Model.IsMarried == true)
            {
                <text>Evet</text>
            }
            else
            {
                <text>Hayır</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Department.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>
