<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ramazan Bey İşe Giriş Taskı</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
       
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li style="color:white;display:flex;padding-bottom:inherit;align-items:center;justify-content:center;padding-top:15px">Hoş Geldiniz !  <span style="color:red">&nbsp @HttpContext.Current.User.Identity.Name</span> </li>
                        <li>@Html.ActionLink("Departmanlar", "Index", "Departments")</li>
                        <li>@Html.ActionLink("Çalışanlar", "Index", "Employees")</li>
                    }

                    @if (User.IsInRole("admin"))
                    {
                        <li>@Html.ActionLink("Kullanıcılar", "Index", "Users")</li>
                    }
                    @if (User.IsInRole("admin,user"))
                    {
                        <li>@Html.ActionLink("Hakkımda", "About", "Home")</li>
                    }
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>

                    @if (User.Identity.IsAuthenticated)
                    {

                        <li>@Html.ActionLink("Çıkış Yap", "LogOut", "Security")</li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - İşe Giriş Taskı - Devrim Mehmet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
